/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header styles */
header {
    background-color: #c1c1c1;
    /* Light grey background */
    color: #333;
    padding: 2em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Section styles */
section {
    padding: 2em;
}

section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    background: #e0e0e0;
    margin: 0.5em 0;
    border-radius: 5px;
    animation: fadeIn 2s ease-in;
}

/* Project styles */
.project {
    margin-bottom: 1em;
    padding: 1em;
    background: #e0e0e0;
    border-radius: 5px;
    animation: fadeInUp 1s ease-in-out;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 1em;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeIn 2s ease-in;
}

/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
